<mat-card>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
<mat-form-field>
    <input style="width: 350px;" formControlName="firstName" matInput [ngClass]="{'error':isValid('firstName')}" placeholder="First Name">
</mat-form-field>
<br>
<mat-form-field>
    <input style="width: 350px;" formControlName="lastName" [ngClass]="{'error':isValid('lastName')}" matInput placeholder="Last Name">
</mat-form-field>
<br>
<mat-form-field>
    <input style="width: 350px;" [ngClass]="{'error':isValid('email')}" formControlName="email" type="email" matInput placeholder="Email">
</mat-form-field>
<br>
<mat-form-field>
    <input style="width: 350px;" formControlName="password" [ngClass]="{'error':isValid('password')}" type="password" matInput placeholder="Password">
</mat-form-field>
<br>
<mat-form-field>
    <input style="width: 350px;" formControlName="confirmPassword" [ngClass]="{'error':isValid('confirmPassword')}" type="password" matInput placeholder="Confirm Password">
</mat-form-field>
<br>
<span *ngIf="form.errors?.misMatchedFields">Passwords do not match</span>
<br>
<button  mat-raised-button color="primary">Register</button>
</form>
</mat-card>